*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("../snake.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(154, 197, 154), rgb(228, 228, 193));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background: linear-gradient(rgb(0, 89, 255), rgb(0, 255, 179));
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 10px;
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 9px;
}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
    /* height: 10px; */
    /* width: 10px; */
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}